@model List<Player>
@{
    ViewData["Title"] = "List of Players";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var player in Model)
        {
            <tr>
                <td>@player.FirstName</td>
                <td>@player.LastName</td>
                <td>@player.Gender</td>
                <td>
                    <a asp-controller="Player" asp-action="Edit"
                        asp-route-id="@player.PlayerId" class="btn btn-primary">Eidt</a>
                    <a asp-controller="Player" asp-action="Delete"
                        asp-route-id="@player.PlayerId" class="btn btn-close btn-danger" aria-label="Close"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
